<p>Hibabejelentés</p>
<!-- user{{user|json}} -->
<!-- <button (click)="sendEmail()" type="button" class="btn btn-primary">Email</button> -->
<ng-container *ngIf="!user; else hibabejelentes">
    <ng-container *ngIf="sendLink; else bejelent">
        <div  class="alert alert-success" role="alert">
            Kérlek ellenőrizd az emailedet, és kattints a kapott levélben lévő linkre. Elképezelhető, hogy a a levél a spam mappába került!
        </div>
    </ng-container>
    <ng-template #bejelent>
    <div  class="input-group mb-3">
        <!-- {{email}} -->
        <input [(ngModel)]="email" type="text" class="form-control" placeholder="email address" aria-label="email address" aria-describedby="email-address2">
        <span class="input-group-text" id="email-address2">@gmail.com</span>
      </div>
    
    <button (click)="sendInEmailLink()" type="button" class="btn btn-primary">Hibajegy leadása</button>
</ng-template>
</ng-container>
<ng-template #hibabejelentes>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Hiba leírása</label>
        <textarea [(ngModel)]="errorMessage" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button (click)="sendError()" type="button" class="btn btn-primary">Hibajegy leadása</button>
    <ng-container *ngIf="sendOk">
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
    </ng-container>
    <!-- <ngb-alert #ngbalert  [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert> -->
</ng-template>

<!-- <button (click)="logout()" type="button" class="btn btn-primary">Kilépés</button> -->
<!-- <button (click)="proba()" type="button" class="btn btn-primary">ngbalert</button> -->

